body {
    overflow-y: scroll;
}

body > div {
    width: 100%;
}

#rev-controller-container,
#sections-controller-container {
    padding: 0 20px;
}

#rev-controller-container {
    border-bottom: 1px solid #808080;
}

#github-link {
    float: right;
}

#result {
    padding: 0 20px;
}

select, option {
    font-family: monospace;
}

option.del {
    background-color: #ffd0d0;
}
option.add {
    background-color: #d0ffd0;
}
option.mod {
    background-color: #d0d0ff;
}

.htmldiff-del {
    background-color: #ffd0d0;
}
.htmldiff-add {
    background-color: #d0ffd0;
}

h1 {
    font-size: 1.2em !important;
}

#search-hit {
    font-size: 0.9em;
    color: #808080;
}

.diff-view ol > li {
    list-style-type: none;
}

#tabs {
    display: flex;
    flex-direction: row;
}

#view-from-tab,
#view-to-tab,
#view-diff-tab {
    border: 1px solid #808080;
    width: 6em;
    padding: 0 4px;
}

#view-from-tab.selected,
#view-to-tab.selected,
#view-diff-tab.selected {
    border-bottom: none;
}

#diff-stat {
    border-bottom: 1px solid #808080;
    color: #808080;
    padding: 0 4px;
    flex: 1;
}
#diff-note {
    border-bottom: 1px solid #808080;
    color: #808080;
    padding: 0 4px;
    flex: 1;
    text-align: end;
}

#result.combined div[id^="excluded-"] {
    display: none;
}
