#controller {
    border-top: 1px solid #808080;
    padding: 0;
    display: grid;
    width: 100%;
    grid-template-columns: 8em 1fr;
}

#pr-filter-label,
#rev-filter-label,
#to-rev-label {
    border-bottom: 1px solid #808080;
}
#pr-filter-container,
#rev-filter-container,
#to-rev-container {
    border-bottom: 1px solid #808080;
}

.filter-label {
    font-weight: bold;
    padding: 0 4px;
    text-align: end;
}
.filter-container {
    padding: 0 8px;
}

#tabs {
    display: flex;
    flex-direction: row;
}

#view-from-tab,
#view-to-tab,
#view-diff-tab {
    border-top: 1px solid #808080;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    width: 6em;
    padding: 0 4px;
}

#view-from-tab.selected,
#view-to-tab.selected,
#view-diff-tab.selected {
    background: white;
    border-bottom: none;
}

#github-link {
    position: absolute;
    right: 4px;
    top: 4px;
    opacity: 0.3;
}

#scroller {
    position: fixed;
    top: 60px;
    right: 0px;
    width: 40px;
    height: 80px;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: white;
}

#scroll-up, #scroll-down {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: none;
    color: rgba(185,115,255);
    background-color: rgba(248,241,255);
    text-align: center;
    font-size: 1.1em;
    line-height: 32px;
    font-weight: bold;
    user-select: none;
    opacity: 0.5;
}
#scroll-down {
    margin-top: 4px;
}
#scroll-up:hover, #scroll-down:hover {
    opacity: 0.7;
    transform: scale(1.1);
}
#scroll-up:active, #scroll-down:active {
    opacity: 1;
    transform: scale(0.9);
}

.htmldiff-add,
.htmldiff-del {
    transition-property: background-color;
    transition-duration: 1s;
}
.htmldiff-add.htmldiff-highllight {
    background-color: #5cd95c;
}
.htmldiff-del.htmldiff-highllight {
    background-color: #ffa3a3;
}

#result {
    padding: 0 20px;
}

select, option {
    font-family: monospace;
}

option.del {
    background-color: #ffd0d0;
}
option.add {
    background-color: #d0ffd0;
}
option.mod {
    background-color: #d0d0ff;
}

.htmldiff-del {
    display: inline;
}
.htmldiff-add {
    display: inline;
}
.htmldiff-add *,
.htmldiff-del * {
    background-color: inherit;
}
.htmldiff-del, .htmldiff-del * {
    text-decoration: line-through !important;
}

#result h1 {
    font-size: 1.2em !important;
}

#search-hit {
    font-size: 0.9em;
    color: #707070;
}

.diff-view ol li {
    list-style-type: none;
}

#diff-stat {
    border-bottom: 1px solid #808080;
    color: #707070;
    padding: 0 4px;
    flex: 1;
}

#tree-diff-box {
    border-bottom: 1px solid #808080;
    padding: 0 4px;
    font-size: 0.8em;
    color: #707070;
}

#result.combined div[id^="excluded-"] {
    display: none;
}

.rev-header-cell {
    vertical-align: top;
}

#from-rev-subject,
#to-rev-subject {
    font-size: 0.8em;
    color: #707070;
}

#from-rev-note,
#to-rev-note {
    font-size: 0.9em;
    color: #707070;
}

.rev-author-and-date {
    font-size: 0.6em;
    color: #707070;
}

#work-box-container {
    display: none;
}
